{% load wagtailcore_tags %}{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ nav_pages.home.full_url }}"
    }{% for ancestor in page.get_ancestors|slice:"2:" %},
    {
      "@type": "ListItem",
      "position": {{ forloop.counter|add:1 }},
      "name": "{{ ancestor.title|escapejs }}",
      "item": "{{ ancestor.full_url }}"
    }{% endfor %},
    {
      "@type": "ListItem",
      "position": {{ page.get_ancestors|slice:"2:"|length|add:2 }},
      "name": "{{ page.title|escapejs }}",
      "item": "{{ page.full_url }}"
    }
  ]
}
